body {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f4f4f4;
 }
 
 header {
   background-color: #333;
   color: #fff;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 header h1 {
   margin: 0;
   font-size: 2rem;
   font-weight: 700;
 }
 
 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
 }
 
 nav ul li {
   margin-right: 20px;
 }
 
 nav ul li a {
   color: #fff;
   text-decoration: none;
   padding: 8px;
   border-radius: 5px;
 }
 
 nav ul li a:hover {
   background-color: rgba(255, 255, 255, 0.1);
 }
 
 main {
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }
 
 .product {
   margin-bottom: 20px;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   padding: 20px;
   width: 45%;
   transition: transform 0.3s;
 }
 
 .product:hover {
   transform: translateY(-5px);
 }
 
 .product img {
   max-width: 100%;
   border-radius: 8px;
 }
 
 .product h2 {
   margin-top: 10px;
   margin-bottom: 5px;
   font-size: 1.5rem;
   font-weight: 700;
 }
 
 .product p {
   margin: 0;
   font-weight: bold;
   font-size: 1.2rem;
 }
 
 .product button {
   background-color: #4CAF50;
   color: #fff;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   font-size: 1rem;
   transition: background-color 0.3s;
 }
 
 .product button:hover {
   background-color: #45a049;
 }
 
 footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px 0;
   position: fixed;
   width: 100%;
   bottom: 0;
   font-size: 14px;
 }